* {
      margin: 0px;
      padding: 0px;
}

header {
      box-shadow: 1px 1px 15px 1px #3d485265;
}

nav {
      text-align: center;
      justify-content: space-around;
      align-items: center;
      display: flex;
      flex-direction: row;
      gap: 100px;
}

.social-icons, .logo, .nav-links {
      display: flex;
      align-items: center;
      gap: 20px;
}

a {
      text-decoration: none;
      color: rgba(49, 49, 49, 0.678);
}

li {
      list-style-type: none;
}