* {
      margin: 0px;
      padding: 0px;
}

header {
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      box-shadow: 1px 1px 15px 1px #3d485265;
}

nav {
      text-align: center;
      justify-content: space-around;
      align-items: center;
      display: flex;
      flex-direction: row;
      gap: 50px;
      width: 100%;
}

.social-icons, .logo, .nav-links-left, .nav-links-right {
      display: flex;
      align-items: center;
      gap: 15px;
}

.nav-links-left > li {
      position: relative;
}

.nav-links-right > li {
      position: relative;
}

.nav-links-left > li > a::before {
      content: '';
      position: absolute;
      bottom: -10px;
      left: 0;
      width: 0%;
      height: 3px;
      background-color: #143D37;
      transition: all .2s;
}

.nav-links-right > li > a::before {
      content: '';
      position: absolute;
      bottom: -10px;
      left: 0;
      width: 0%;
      height: 3px;
      background-color: #143D37;
      transition: all .5s;
}     

.nav-links-left > li > a:hover::before {
      width: 100%;
}

.nav-links-right > li > a:hover::before {
      width: 100%;
}

a {
      text-decoration: none;
      color: rgba(49, 49, 49, 0.678);
}

li {
      list-style-type: none;
}